--
-- PostgreSQL database dump
--

\restrict gsd9yaRyvp22HdXbks1u3b5bhDq6GZDtXsx0DLvnH9g2SE4HyMw1V7UuIuC8mgn

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance (
    id integer NOT NULL,
    student_id uuid,
    subject_id integer,
    date date NOT NULL,
    status character varying(10) NOT NULL,
    marked_by uuid,
    CONSTRAINT attendance_status_check CHECK (((status)::text = ANY ((ARRAY['present'::character varying, 'absent'::character varying])::text[])))
);


ALTER TABLE public.attendance OWNER TO postgres;

--
-- Name: attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.attendance_id_seq OWNER TO postgres;

--
-- Name: attendance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendance_id_seq OWNED BY public.attendance.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id integer NOT NULL,
    name character varying(80) NOT NULL,
    code character varying(10) NOT NULL
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_id_seq OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: marks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.marks (
    id integer NOT NULL,
    student_id uuid,
    subject_id integer,
    exam_type character varying(20) NOT NULL,
    marks_obtained numeric(5,2) NOT NULL,
    max_marks numeric(5,2) DEFAULT 100,
    recorded_by uuid,
    recorded_at timestamp without time zone DEFAULT now(),
    CONSTRAINT marks_exam_type_check CHECK (((exam_type)::text = ANY ((ARRAY['internal1'::character varying, 'internal2'::character varying, 'endsem'::character varying])::text[])))
);


ALTER TABLE public.marks OWNER TO postgres;

--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    user_id uuid NOT NULL,
    roll_number character varying(20) NOT NULL,
    department_id integer,
    semester integer,
    batch_year integer,
    address text,
    dob date,
    CONSTRAINT students_semester_check CHECK (((semester >= 1) AND (semester <= 8)))
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: subjects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subjects (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(20) NOT NULL,
    department_id integer,
    semester integer,
    credits integer DEFAULT 4,
    CONSTRAINT subjects_semester_check CHECK (((semester >= 1) AND (semester <= 8)))
);


ALTER TABLE public.subjects OWNER TO postgres;

--
-- Name: student_cgpa; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.student_cgpa AS
 SELECT s.user_id AS student_id,
    round(((sum((m.marks_obtained * (sub.credits)::numeric)) / (NULLIF(sum(sub.credits), 0))::numeric) / (10)::numeric), 2) AS cgpa
   FROM ((public.students s
     JOIN public.marks m ON ((m.student_id = s.user_id)))
     JOIN public.subjects sub ON ((sub.id = m.subject_id)))
  WHERE ((m.exam_type)::text = 'endsem'::text)
  GROUP BY s.user_id;


ALTER VIEW public.student_cgpa OWNER TO postgres;

--
-- Name: dept_avg_cgpa; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.dept_avg_cgpa AS
 SELECT d.id AS department_id,
    d.name AS department_name,
    round(avg(sc.cgpa), 2) AS avg_cgpa
   FROM ((public.departments d
     JOIN public.students s ON ((s.department_id = d.id)))
     JOIN public.student_cgpa sc ON ((sc.student_id = s.user_id)))
  GROUP BY d.id, d.name;


ALTER VIEW public.dept_avg_cgpa OWNER TO postgres;

--
-- Name: enrollments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.enrollments (
    student_id uuid NOT NULL,
    subject_id integer NOT NULL
);


ALTER TABLE public.enrollments OWNER TO postgres;

--
-- Name: faculty; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faculty (
    user_id uuid NOT NULL,
    department_id integer,
    designation character varying(100),
    qualification character varying(100),
    experience_yrs integer DEFAULT 0,
    joining_date date
);


ALTER TABLE public.faculty OWNER TO postgres;

--
-- Name: faculty_subjects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faculty_subjects (
    faculty_id uuid NOT NULL,
    subject_id integer NOT NULL,
    academic_year character varying(10) DEFAULT '2025-26'::character varying
);


ALTER TABLE public.faculty_subjects OWNER TO postgres;

--
-- Name: marks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.marks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.marks_id_seq OWNER TO postgres;

--
-- Name: marks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.marks_id_seq OWNED BY public.marks.id;


--
-- Name: subject_avg_marks; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.subject_avg_marks AS
 SELECT sub.id AS subject_id,
    sub.name AS subject_name,
    sub.code,
    (avg(m.marks_obtained))::numeric(5,2) AS avg_marks,
    count(DISTINCT m.student_id) AS student_count
   FROM (public.subjects sub
     JOIN public.marks m ON ((m.subject_id = sub.id)))
  GROUP BY sub.id, sub.name, sub.code;


ALTER VIEW public.subject_avg_marks OWNER TO postgres;

--
-- Name: subjects_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.subjects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subjects_id_seq OWNER TO postgres;

--
-- Name: subjects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.subjects_id_seq OWNED BY public.subjects.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash text NOT NULL,
    role character varying(10) NOT NULL,
    phone character varying(15),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'faculty'::character varying, 'student'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: attendance id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance ALTER COLUMN id SET DEFAULT nextval('public.attendance_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: marks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marks ALTER COLUMN id SET DEFAULT nextval('public.marks_id_seq'::regclass);


--
-- Name: subjects id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects ALTER COLUMN id SET DEFAULT nextval('public.subjects_id_seq'::regclass);


--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.departments (id, name, code) FROM stdin;
1	Computer Science & Engineering	CSE
2	Electronics & Communication	ECE
3	Mechanical Engineering	MECH
4	Civil Engineering	CIVIL
\.


--
-- Data for Name: enrollments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.enrollments (student_id, subject_id) FROM stdin;
00000000-0000-0000-0000-000000000010	2
00000000-0000-0000-0000-000000000010	3
00000000-0000-0000-0000-000000000010	4
00000000-0000-0000-0000-000000000011	6
00000000-0000-0000-0000-000000000011	7
00000000-0000-0000-0000-000000000012	8
00000000-0000-0000-0000-000000000012	9
00000000-0000-0000-0000-000000000013	10
\.


--
-- Data for Name: faculty; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.faculty (user_id, department_id, designation, qualification, experience_yrs, joining_date) FROM stdin;
00000000-0000-0000-0000-000000000004	3	Professor	M.Tech, PhD	18	2006-06-01
00000000-0000-0000-0000-000000000002	1	Associate Professor	M.Tech, PhD	12	2012-06-29
00000000-0000-0000-0000-000000000003	2	Assistant Professor	M.E	7	2017-07-31
\.


--
-- Data for Name: faculty_subjects; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.faculty_subjects (faculty_id, subject_id, academic_year) FROM stdin;
00000000-0000-0000-0000-000000000004	8	2025-26
00000000-0000-0000-0000-000000000004	9	2025-26
00000000-0000-0000-0000-000000000002	2	2025-26
00000000-0000-0000-0000-000000000002	3	2025-26
00000000-0000-0000-0000-000000000002	4	2025-26
00000000-0000-0000-0000-000000000003	6	2025-26
00000000-0000-0000-0000-000000000003	7	2025-26
\.


--
-- Data for Name: marks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.students (user_id, roll_number, department_id, semester, batch_year, address, dob) FROM stdin;
00000000-0000-0000-0000-000000000012	ME21002	3	7	2021	\N	\N
00000000-0000-0000-0000-000000000011	EC23001	2	3	2023		\N
00000000-0000-0000-0000-000000000010	CS21001	1	5	2021		\N
00000000-0000-0000-0000-000000000013	CE25001	4	1	2025		\N
81394d8c-13dd-4d0f-8361-e898dbcc8fa3	CS285	1	6	4	7,213,Merkku thottam,\nErode	2005-12-24
\.


--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subjects (id, name, code, department_id, semester, credits) FROM stdin;
1	Data Structures	CS301	1	3	4
2	Database Management	CS501	1	5	4
3	Operating Systems	CS502	1	5	4
4	Computer Networks	CS503	1	5	3
5	Mathematics III	MA301	1	3	4
6	Signals & Systems	EC301	2	3	4
7	Digital Electronics	EC302	2	3	4
8	Thermodynamics	ME401	3	4	4
9	Fluid Mechanics	ME402	3	4	4
10	Structural Analysis	CE101	4	1	4
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attendance_id_seq', 7, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departments_id_seq', 4, true);


--
-- Name: marks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.marks_id_seq', 13, true);


--
-- Name: subjects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subjects_id_seq', 10, true);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (id);


--
-- Name: attendance attendance_student_id_subject_id_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_student_id_subject_id_date_key UNIQUE (student_id, subject_id, date);


--
-- Name: departments departments_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_code_key UNIQUE (code);


--
-- Name: departments departments_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_name_key UNIQUE (name);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: enrollments enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_pkey PRIMARY KEY (student_id, subject_id);


--
-- Name: faculty faculty_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faculty
    ADD CONSTRAINT faculty_pkey PRIMARY KEY (user_id);


--
-- Name: faculty_subjects faculty_subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faculty_subjects
    ADD CONSTRAINT faculty_subjects_pkey PRIMARY KEY (faculty_id, subject_id);


--
-- Name: marks marks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT marks_pkey PRIMARY KEY (id);


--
-- Name: marks marks_student_id_subject_id_exam_type_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT marks_student_id_subject_id_exam_type_key UNIQUE (student_id, subject_id, exam_type);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (user_id);


--
-- Name: students students_roll_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_roll_number_key UNIQUE (roll_number);


--
-- Name: subjects subjects_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_code_key UNIQUE (code);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: attendance attendance_marked_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_marked_by_fkey FOREIGN KEY (marked_by) REFERENCES public.faculty(user_id);


--
-- Name: attendance attendance_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(user_id) ON DELETE CASCADE;


--
-- Name: attendance attendance_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id) ON DELETE CASCADE;


--
-- Name: enrollments enrollments_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(user_id) ON DELETE CASCADE;


--
-- Name: enrollments enrollments_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id) ON DELETE CASCADE;


--
-- Name: faculty faculty_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faculty
    ADD CONSTRAINT faculty_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: faculty_subjects faculty_subjects_faculty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faculty_subjects
    ADD CONSTRAINT faculty_subjects_faculty_id_fkey FOREIGN KEY (faculty_id) REFERENCES public.faculty(user_id) ON DELETE CASCADE;


--
-- Name: faculty_subjects faculty_subjects_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faculty_subjects
    ADD CONSTRAINT faculty_subjects_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id) ON DELETE CASCADE;


--
-- Name: faculty faculty_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faculty
    ADD CONSTRAINT faculty_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: marks marks_recorded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT marks_recorded_by_fkey FOREIGN KEY (recorded_by) REFERENCES public.faculty(user_id);


--
-- Name: marks marks_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT marks_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(user_id) ON DELETE CASCADE;


--
-- Name: marks marks_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT marks_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id) ON DELETE CASCADE;


--
-- Name: students students_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: students students_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: subjects subjects_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- PostgreSQL database dump complete
--

\unrestrict gsd9yaRyvp22HdXbks1u3b5bhDq6GZDtXsx0DLvnH9g2SE4HyMw1V7UuIuC8mgn

